@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2F9E40;
}


.cabecalho {
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: #FFFFFF;
}


.logoIFsportsImg, .imagemProduto {
    object-fit: contain;
    justify-self: flex-start;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 17px;


}


h1{
color: #113a17;
font-size: 50px;
}


.coisa{
color: black;
font-size: 15px;
}


.formulario{
  width: 1100px;
  height: 650px;
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  color: #FFFFFF;
  border-radius: 40px;
  padding: 40px;
  transform: translateY(-15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.formulario h1{
  font-size: 46px;
  margin-bottom: 0px;
  font-weight: 600;
}


.caixa-formulario{
 position: relative;
 margin-bottom: 30px;
}


.caixa-formulario input{
 width: 100%;
 height: 35px;
 font-size: 16px;
 border: 2px solid black;
 border-radius: 20px;
 
}




.container button{
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 30px;
  background-color: rgb(199, 0, 0);
  color: #FFFFFF;
  width: 350px;
  height: 52px;
  border: none;


}


.conta{
  color:black;
}


.coisa a{
color: #329140;
text-decoration: none;
}


.frase{
  color: rgb(153, 153, 153);
  justify-content: center;
}


.coisa{
  text-align: center;
}


i{
    color: #113a17;
    height: 100px;
    width: 90px;
}


