* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2F9E40;
}

.cabecalho {
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    background-color: #FFFFFF;
}

.logoIFsportsImg, .imagemProduto {
    object-fit: contain;
}

.containerInputLupa {
    height: 45%;
    width: 45%;
    display: flex;
    justify-content: center;
    position: relative;
}

.lupaInput {
    height: 32px;
    width: 32px;
    background: none;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
}

.inputPesquisa {
    height: 40px;
    width: 100%;
    padding: 1rem 45px 1rem 1rem;
    font-size: 1.10rem;
    border: 2px solid #666666;
    border-radius: 20px;
}

.inputPesquisa:focus {
    border: 2px solid #000000;
    outline: none;
}

.icones {
    height: 55px;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    list-style: none;
}

.icone {
    height: 55px;
    width: 55px;
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.icone:hover, .lupaInput:hover {
    background-color: #CCCCCC;
    transition: 0.2s;
}

.vitrineProdutos {
    height: auto;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.cardsProdutos {
    display: flex;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.cardProduto {
    border-radius: 20px;
    height: 300px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(25% - (3 * 30px) / 4);
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 10px #000000;
    background-color: #FFFFFF;
}

.cardProduto:hover {
    transition: 0.3s;
    transform: scale(1.03);
    box-shadow: 10px 10px 10px #000000;
}